# Mac system files
.DS_Store

# Pycharm system files
.idea/*
/tests/__pycache__/*

# Python files
/VENV/*
/network_manager/__pycache__/*

# App system files
/network_manager.egg-info/*
sqltutorial.sqlite
