# Mac system files
.DS_Store

# Pycharm system files
.idea/*

# Python files
/VENV/*
/network_manager/__pycache__/*

# Alembic files
/network_manager/alembic/*

# App system files
/network_manager.egg-info/*
sqltutorial.sqlite
